.feature-box {
  height: 130px;
  width: 130px;
  background: rgb(211, 220, 228);
  // background-color: rgba($color-white, 1);
  font-size: 1.5rem;
  padding: 5rem;
  text-align: center;
  border: 3px solid black;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15),
    inset 3rem 2rem 5rem rgba($color-black, 0.15);
  transform: rotate(45deg);
  transition: transform 0.3s;
  position: relative;

  @include respond(tab-port) {
    padding: 2rem;
    margin: 4rem auto;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-grey-dark,
      $color-grey-dark-3
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  @include respond(tab-port) {
    margin-bottom: 5rem;
  }
  // &:hover {
  // transform: translateY(-1.5rem) scale(1.03);
  &__text {
    padding-top: 20px;
    margin-left: -8px;
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    width: auto;
    margin-right: -10px;
    transform: rotate(-45deg);
  }
}
