.story {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 1);
  padding: 2rem;
  padding-left: 5rem;
  font-size: 2rem;

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
  }

  &__shape {
    width: 20rem;
    height: 20rem;
    float: left;
    position: relative;
    overflow: hidden;
    margin-right: 2rem;
    //border-radius: 5%;

    // @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    //   -webkit-clip-path: circle(50% at 50% 50%);
    //   clip-path: circle(50% at 50% 50%);
    //   -webkit-shape-outside: circle(50% at 50% 50%);
    //   shape-outside: circle(50% at 50% 50%);
    //   border-radius: none;
    // }

    @include respond(phone) {
    }
  }

  &__img {
    height: 100%;
    margin-left: 12px;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__text {
    @include respond(phone) {
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  // &:hover &__caption {
  //   opacity: 1;
  //   transform: translate(-50%, -50%);
  // }

  // &:hover &__img {
  //   transform: translateX(-4rem) scale(1);
  //   filter: blur(3px) brightness(80%);
  // }

  &__title {
    color: $color-white;
  }
}
