.section-about {
  border-top: 4px solid silver;
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0.5),
      rgba($color-black, 0.5)
    ),
    url(../img/brown.jpg);
  padding: 5rem 0;
  font-size: 3.5rem;
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
  color: $color-white;
  @include respond(tab-port) {
    padding: 5rem 0;
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
}

.section-features {
  padding: 20rem 0 30rem 0;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
  font-size: 4rem;
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
  color: $color-black;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-black, 0.4),
      rgba($color-black, 0.1)
    ),
    url(../img/blackshavetools.jpg);

  background-size: cover; // transform: skewY(-7deg);
  // margin-top: -10rem;
  & > * {
    //  transform: skewY(7deg);
  }
  @include respond(tab-port) {
    padding: 4rem 0;
    font-size: 3.6rem;
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
    }
  }
}

.section-tours {
  background-image: linear-gradient(
      to left bottom,
      rgba($color-black, 0),
      rgba($color-black, 0)
    ),
    url(../img/shavecream.jpg);
  border: 6px solid black;
  padding: 8rem 0 15rem 0;
  margin-top: -10rem;
  @include respond(tab-port) {
    padding: 10rem 0 10rem 0;
  }
}

.section-stories {
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
  color: $color-black;
  font-size: 3.5rem;
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0.5),
      rgba($color-black, 0.5)
    ),
    url(../img/brown.jpg);
  position: relative;
  padding: 15rem 0;
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  border-top: 4px solid silver;
  position: relative;
  padding: 15rem 0;
  background-image: linear-gradient(
    to left bottom,
    rgba($color-grey-light-1, 0),
    rgba($color-grey-light-1, 0)
  );
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  width: 100%;
  height: 600px;
  background-image: url(https://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=600x350&maptype=roadmap&scale=2&key=AIzaSyCmLjbd91sCJ02knXEI9ryVkLvYvqFBtxk&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x0080ff%7clabel:%7C329+hartz+ave+danville+ca);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  @include respond(tab-land) {
    height: 450px;
    width: 100%;
    background-image: url(https://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=475x350&maptype=roadmap&scale=2&key=AIzaSyCmLjbd91sCJ02knXEI9ryVkLvYvqFBtxk&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x0080ff%7clabel:%7C329+hartz+ave+danville+ca);
  }
  @include respond(tab-port) {
    height: 325px;
    width: 100%;
    background-image: url(https://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=300x500&maptype=roadmap&zoom=18&scale=2&key=AIzaSyCmLjbd91sCJ02knXEI9ryVkLvYvqFBtxk&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x0080ff%7clabel:%7C329+hartz+ave+danville+ca);
  }
  // &__form {
  //   position: relative;
  //   width: 100%;
  //   height: 300px;
  //   padding: 2rem;
  //   @include respond(tab-land) {
  //     width: 100%;
  //   }
  //   @include respond(tab-port) {
  //     width: 100%;
  //   }
}

#googlemap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}
