.section-about {
  // background-image: linear-gradient(
  //     to left bottom,
  //     rgba($color-black, 0),
  //     rgba($color-black, 0)
  //   ),
  //   url(../img/greywhite.jpg);
  background-image: url(../img/blackstrip.jpg);
  padding: 5rem 0;
  font-size: 3.5rem;
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
  color: $color-grey-light-1;
  @include respond(tab-port) {
    padding: 5rem 0;
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
}

.section-features {
  padding: 20rem 0 30rem 0;
  border: 6px solid black;
  font-size: 4rem;
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
  background: $color-white;
  color: $color-black;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-white, 0.8),
      rgba($color-white, 0.8)
    ),
    url(../img/concretetools.jpg);

  background-size: cover; // transform: skewY(-7deg);
  // margin-top: -10rem;
  & > * {
    //  transform: skewY(7deg);
  }
  @include respond(tab-port) {
    padding: 10rem 0;
    font-size: 3.6rem;
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
    }
  }

  .menu__box {
    padding-bottom: 4rem;
    color: $color-black;
  }
}

.section-tours {
  background-image: linear-gradient(
      to left bottom,
      rgba($color-black, 0),
      rgba($color-black, 0)
    ),
    url(../img/greywhite.jpg);
  border: 6px solid black;
  padding: 8rem 0 15rem 0;
  margin-top: -10rem;
  @include respond(tab-port) {
    padding: 10rem 0 10rem 0;
  }
}

.section-stories {
  background-image: url(../img/blackstrip.jpg);
  position: relative;
  padding: 15rem 0;
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to left bottom,
    rgba($color-grey-light-1, 0),
    rgba($color-grey-light-1, 0)
  );
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }
  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
  }
  &__form {
    width: 50%;
    padding: 6rem;
    @include respond(tab-land) {
      width: 65%;
    }
    @include respond(tab-port) {
      width: 100%;
    }
  }
}
